@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: serif;
  background-color: #2B0305;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 85%; 
  margin: 0 auto;
}

.flex { display: flex;}

p { color: #878686;}
/*=================================
  Header styling starts here
=================================*/

header { position: relative; }

header::before {
  content: '';
  width: 100%;
  height: 7px;
  background-color: #609f6e;
  position: absolute;
  top: 0;
}

header .wrapper {
  padding: 36px 0;
  justify-content: space-between;
  align-items: center;
}
.logo { width: 18%;}

.logo a {
  font-size: 30px;
  color: #fff;
}

.logo span {
  font-size: 13px;
  color: #6b6b6b;
}

.menu-item { position: relative; transition: .6s;}

.menu .menu-item a {
  padding: 6px 16px;
  border-radius: 10px;
  font-size: 16px;
  color: #ececec;
  transition: .3s;
}

.menu .menu-item a.active,
.menu .menu-item a:hover { background-color: #609f6e; }

.dropdown {
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
  background-color: #609f6e;
  z-index: 2;
}

.menu-item:hover .dropdown { display: block; }

.dropdown li {
  width: 100%;
  border-bottom: 1px solid gray;
}

.menu li:last-child {
  display: none;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Banner start here */
.banner .wrapper { margin-bottom: 4%;}

.slider { position: relative;}

.slide { display: none; }

.slide.active { 
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  }

.slide-content {
  margin-left: 20px;
  flex-basis: 40%;
}

.slide-content h2 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin-top: 25%;
}

.slide-content p {
  font-size: 18px;
  margin-top: 6%;
}

.slide-content a {
  padding: 10px 16px;
  margin-top: 5%;
  border-radius: 10px;
  font-size: 18px;
  color: #ececec;
  background-color: #609f6e;
  transition: .3s;
}

.slide-content a:hover {
  border: 2px solid #609f6e;
  color: #609f6e;
  background-color: #fff;
}

.slide-image { flex-basis: 51% }

.slide-image figure { 
  width: 88%;
  border: 30px  solid #6b6b6b;
  border-radius: 50%;
}

.slide-image figure img { border-radius: 50% }

.next , .prev {
  position: absolute;
  top: 50%;
  font-size: 50px;
  font-weight: bold;
  color: #609f6e;
  transition: .3s;
}

.next {
  right: 0;
}

.next:hover,
.prev:hover {
  color: #fff;
  background-color: #609f6e;
  border-radius: 20px;
}

/* Banner ends here */

/* Services section start here */
.services {
  padding: 4% 0 2% 0;
  text-align: center;
  background-color: #61080B;
}

.service-cards {
  margin: 30px 0;
  justify-content: space-between;
}

.service-cards .card {
  padding: 23px 0;
  margin: 15px 0;
  flex-basis: 23.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  transition: all .3S;
}

.service-cards .card:hover {
  color: #fff;
  background-color: #609f6e;
}

.service-cards .card figure { width: 50%; }

.service-cards .card h3 {
  margin: 15px 0;
  font-size: 35px;
  font-weight: bold;
}
.service-cards .card p { margin-top: 7px;}

.services h4 {
  padding: 14px;
  display: inline;
  border-radius: 10px;
  position: relative;
  font-size: 26px;
  color: #fff;
  background: #6b6b6b;  
}
.services h4::before,
.services h4::after {
  content: '';
  width: 205%;
  height: 3px;
  position: absolute;
  top: 50%;
  background-color: #6b6b6b;
}

.services h4::before { left: 100%; }
.services h4::after { right: 100%; }

.works-card { 
  margin-top: 45px; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.works-card li {
  margin-bottom: 30px;
  flex-basis: 30.5%;
  border: 5px solid #fff;
  position: relative;
}

.works-card li:hover .overlay { display: none; }

.overlay { 
  width: 100%; 
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(203, 203, 203, .5);
}

.overlay:hover .content {
  display: block;
}

.overlay .content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333333;
}

.overlay .content h5 {
  padding: 5px 10px;
  color: #fff;
}
/* Services section ends here */

/* Contact and link section start here */
.contact-section {
  width: 100%;
  padding-bottom: 45px;
  background-color: #333333;
}

.contact-section .wrapper { justify-content: space-between; }

.contact-section .wrapper div { flex-basis: 22%; }

.contact-section .wrapper div h6 {
  margin: 40px 0;
  font-size: 18px;
  color: #fff;
}

.contact-section .wrapper div a {
  margin: 7px 0;
  display: block;
  color: #609f6e;
}

.contact-section .wrapper div p { margin: 10px 0; font-size: 16px;}

.blogs a span { 
  font-size: 12px;
  color: #333333;
}

.quick-links .fa {
  margin: 0 5px;
  font-size: 20px;
  color: #609f6e;
}

.quick-links ul li { border-bottom: 1px solid #609f6e; }

.tweets a { display: inline !important; }

.form-control input[type="text"],
.form-control input[type="email"],
.form-control textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #272727;
} 

.form-control input[type="email"] { padding: 15px 10px;}

.form-control textarea { padding: 8px 10px; }

.form-control .submit {
  padding: 12px 22px;
  margin-bottom: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  font-family: serif;
  color: #272727;
  background-color: #609f6e;
  transition: .6s;
}

.form-control .submit:hover {
  border: 1px solid #609f6e;
  color: #609f6e;
  background-color: #272727;
}
/* Contact and link section ends here */


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  border-top: 1px solid #000;
  background-color: #333333;
}

footer .wrapper { justify-content: space-between; }

footer .wrapper span {
  margin: 23px 0;
  font-size: 16px;
  color: #878686;
}




 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}